* {
    padding: 0;
    margin: 0;
    font-family: cursive;
}

body {
    background-color: #080025;
}

img {
    max-width: 80%;
    height: auto;
}

.nav-menu {
    display: flex;
    text-decoration: none;
    background-color: #fff;
    gap: 4rem;
    list-style: none;
}

.menu-item {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-left: 10rem;
}

.main-nav-item {
    text-decoration: none;
    color: #000;
    font-size: 30px;
    margin-right: 20rem;
    margin-left: 18%;
}

.nav-item-a {
    text-decoration: none;
    color: #000;
    font-size: 30px;
    justify-content: center;
}

.nav-item-a:hover {
    cursor: pointer;
    transition: 0.5s;
    color: royalblue;
}

.main-title {
    margin-bottom: 1rem;
    color: #ffffff;
}

.main-title {
    font-size: 40px;
    margin-top: 1.5%;
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 30px;
    color: #fff;
}

.child {
    padding: 1rem;
}

.text {
    font-size: 25px;
    text-align: justify;
    margin-bottom: 2rem;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.child {
    width: 39%;
    height: 850px;
    color: #fff;
}