* {
    padding: 0;
    margin: 0;
    font-family: cursive;
}

body {
    background-image: url("img/img-fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1200px;
}

.nav-menu {
    display: flex;
    text-decoration: none;
    background-color: #0a081a;
    gap: 4rem;
    list-style: none;
}

.menu-item {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-left: 10rem;
}

.main-nav-item {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    margin-right: 20rem;
    margin-left: 18%;
}

.nav-item-a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    justify-content: center;
}

.nav-item-a:hover {
    cursor: pointer;
    transition: 0.5s;
    color: grey;
}

.main-title {
    font-size: 40px;
    margin-top: 1.5%;
    text-align: center;
    margin-bottom: 1rem;
    color: #fff;
    background-color: rgb(0, 0, 0, 0.75);
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 30px;
    color: #fff;
}

.text {
    font-size: 25px;
    text-align: justify;
    margin-bottom: 2rem;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.child1 {
    width: 70%;
    height: 250px;
    color: #fff;
    background-color: rgb(0, 0, 0, 0.75);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.child2 {
    width: 70%;
    height: 460px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.child3 {
    width: 70%;
    height: 460px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.child4 {
    width: 70%;
    height: 460px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.img {
    width: 340px;
    height: 224px;
    justify-content: center;
}

@media (max-width: 1300px) {
    .child {
        width: 80%;
        height: auto;
    }
    .img {
        width: 48%;
        margin-top: none;
    }
    .text {
        font-size: 20px;
    }
    .main-title{
        font-size: 35px;
    }
}

@media (max-width: 700px) {
    .child {
        width: 80%;
        height: auto;
    }
    .img {
        width: 48%;
        margin-top: none;
    }
    .text {
        font-size: 15px;
    }
    .main-title{
        font-size: 30px;
    }
}

.footer {
    position: absolute;
    width: 98.2%;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    font-size: 20px;
    height: 160px;
    padding: 1rem;
    border-radius: 2px;
}

